doctype html
html(lang="pl")
    head
        title SCM Watch
        link(rel="stylesheet" href="/globals.css")
        script(src= bundlePath type="module")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="og:title" content="Watch with Sigma")
        meta(name="og:image" content= thumbnailURL)
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="1920">
        <meta property="og:image:height" content="1080">
        meta(name="og:type" content="video.movie")
        meta(name="og:description" content="Epic streaming content")
    body
        include header.pug
        s-watch(id= id)