@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}


.pulse{
    animation: pulse 2s ease infinite;

}


.loader {
    animation: spin 0.5s linear infinite;
}


main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 24px;
    box-sizing: border-box;
    max-width: 1200px;
}

.video-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;;
    height: auto;
    background-color: var(--main-400);
}

.app-state-heading{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}
.app-state-heading svg{
    width: 40px;
    height: 40px;
}
.app-state-heading h2{
    font-size: 14px;
    font-weight: 500;
}

@media screen and (min-width: 720px) {
    .app-state-heading h2 {
        font-size: 24px;
    }
    .app-state-heading svg{
        width: 60px;
        height: 60px;
    }
    .play-wrapper svg{
        height: 60px;
        width: 60px;
    }
}
video{
    visibility: hidden;
    width: 100%;
    height: auto;
}

.play-wrapper{
    z-index: 1;
    pointer-events: none;
    position: absolute;
}
.play-wrapper svg{
    height: 40px;
    width: 40px;
    fill: var(--main-100);
}

.video-paused{
    filter: brightness(50%);
}

/*
Footer
 */

.footer{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: end;
    box-sizing: border-box;
    padding: 8px 4px 8px 4px;
    gap: 2px;
}
/*
Drawer
 */

.drawer-box{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    transform: translate(-50%, calc(100% - 40px));
    transition: transform 0.15s ease;
}


.drawer-button{
    width: 180px;
    border: 1px var(--main-200) solid;
    border-bottom: none;
    margin: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--main-400);
    height: 40px;
    transition: color 0.15s ease;
}

.drawer-box:has(.drawer-input:hover) > .drawer-button{
    background-color: var(--main-500);
}

.drawer-button > svg{
    transition: transform 0.15s ease;
}

.drawer-box:has(.drawer-input:checked){
    transform: translate(-50%, 0)
}

.drawer-box:has(.drawer-input:checked) > .drawer-button > svg{
    transform: rotate(180deg);
}
.drawer-input {
    margin: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 0;
    text-decoration: none;
    width: 180px;
    height: 40px;
}


.drawer {
    background-color: var(--main-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 24px;
    padding: 80px;
    width: 100%;
}
.drawer >h2 {
    margin: 0;
    padding: 0;
    color: var(--main-400);
}